<% include layout/header %>

	<div class="row">

		<div class="col-12 col-md-5">
			<img src="/product_images/<%= product._id %>/<%= product.image %>" class="img-thumbnail spi">
		</div>

		<div class="col-12 col-md-7">
			<h1 class="page-header"><%= product.title %></h1><hr>
			
			<h4 class="text-danger">Rp. <%= product.price %></h4><hr>
			
			<a href="/cart/add/<%= product.link %>"><button class="btn btn-primary">Add to my cart</button></a>
		</div>
	</div>
	<hr>
	<h4>Deskripsi</h4>
	<p><%= product.desc %></p>
<% include layout/footer %>