
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Baba Shop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <% pages.forEach(function(page){ %>
            <% if(page.link == "home") { %>
              <li class="nav-item"><a class="nav-link" href="/"><%= page.title %></a></li>
            <% }else{ %>
              <li class="nav-item"><a class="nav-link" href="<%= page.link %>"><%= page.title %></a></li>
            <% }; %>  
          <% }); %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/cart/shopping-cart" class="nav-link">My Cart (
              <% if(typeof qtyheader !== "undefined"){ %>
                <%= qtyheader %>
              <% } else { %>
                0
              <% } %>
            )</a>
          </li>
          <% if(user) { %>
            <li><a href="/user/logout" class="nav-link">Hi, <%= user.username %> ( logout )</a></li>
          <% } else { %>
            <li><a href="/user/login" class="nav-link">Log In</a></li>
          <% } %>
        </ul>
      </div>
    </nav>

    <main role="main" class="container" style="margin-top: 60px;">
    <%- messages('messages', locals) %>

    <% if(errors){ %>
      <% errors.forEach(function(error){ %>
        <div class="alert alert-danger">
          <%= error.msg %>
        </div>
      <% });%>
    <% } %>

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="/products">All Products</a>
      </li>
      <% categories.forEach(function(cat){ %>
      <li class="nav-item">
        <a class="nav-link" href="/products/category/<%= cat.link %>"><%= cat.title %></a>
      </li>
      <% }); %>
      
    </ul>